body{
	background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#navbar{
	background-color: unset !important ;
}

#card{
	background: white;
	border: 1px solid black;
	border-radius: 20px;
	margin-right: 100px;
	margin-bottom: 30px;
	color: white;
	display: block;
}
h5,h2,p{
	color: black;
}

div select{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	padding: 14px 14px 14px 22px;
	border: 2px solid #17A2B8;
	border-radius: 8px;
}

div select option{
	border: 2px solid #17A2B8;
	border-radius: 8px;
}