body{
	background: #0F2027;
	background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
	background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
}

#navbar{
	background-color: unset !important ;
}

#card{
	background: #141E30;  
	background: -webkit-linear-gradient(to right, #243B55, #141E30); 
	background: linear-gradient(to right, #243B55, #141E30); 
	border-radius: 20px;
	margin-right: 100px;
	margin-bottom: 30px;
	color: white;
	display: block;
}

div select{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	padding: 14px 14px 14px 22px;
	border: 2px solid #17A2B8;
	border-radius: 8px;
}